body {
  padding: 0;
  margin: 0;
  background: rgb(18,17,25);
  
}
  div{
    text-align: center;
  }
  #filtersubmit {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}

div#results img {  
    -webkit-transition: .5s opacity;
          transition: .5s opacity;
}

div#results:hover img { opacity: 0.3; }
div#results:hover img:hover { opacity: 1; } 

  .container{
    padding: 0.3em;
    column-count: 4;
    max-width: 820px;
  }



  img{
    width: auto;
    margin-bottom: 0.2em;
   
  }

  